# Created by https://www.gitignore.io/api/polymer

### Polymer ###
#Installed components via bower
bower_components/
# End of https://www.gitignore.io/api/polymer

# No es requerido el build ya que se crea mediante
# el comando: polymer build
build/